# Entorno virtual
.venv/

# Caché de Python
__pycache__/
*.py[cod]

# Variables de entorno
.env
.env.*

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# IDE
.idea/
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db